*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: auto;
}

@media (min-width: 768px) {
    .tile {
        flex: 0 0 20%;
        margin-right: 2%;
    }
}

body {
    margin: 0;
    padding: 15px;
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
    display: block;
}

button {
    cursor: pointer;
    border: 0;
    padding: 0;
}

a,
a:visited {
    color: #3B3B98;
}
